.container {
  margin: 0 auto;
  max-width: 400px;
}

.statistics {
  width: 95%;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.last {
  padding-bottom: 50px;
}

.progressWrap {
  display: flex;
  justify-content: center;
  min-height: 100px;
}

.progress {
  margin: 20px auto;
  display: block;
}
